#TPM Toothpaste Picking Manager ~/tpm/toothpastes file sample
#id,brand string,tube mass g,rating
0,Random Toothpaste 1,100,85
1,Random Toothpaste 2,50,90
2,Random Toothpaste 3,150,100
3,Random Toothpaste 4,50,100
4,Nothing,0,0
