#TPM Toothpaste Picking Manager ~/tpm/tpm.conf file sample
[CONSTANTS]
DEFAULT=0
TRUE=1
FALSE=0
[GENERAL]
USERNAME=Anonymous
PICK_TYPE=DEFAULT
VERBOSE=TRUE
TOOTHPASTES=C:\Users\Anonymous\tpm\toothpastes
LAST_PICK=C:\Users\Anonymous\tpm\last_pick
PICK_STATS=C:\Users\Anonymous\tpm\pickstats
LIST_TOOTHPASTES=FALSE
OUTPUT_JSON=FALSE
OUTPUT_FILE=FALSE
PICK_INDEX=0
RESET_COUNTER=FALSE
SET_COUNTER=0
BRAND=Unknown
TIMEZONE=0
DELTA_DAYS=0